<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Estabelecimento</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Estilos personalizados, conforme necessário */
        body {
            margin: 0;
            padding: 0;
            color: #ffffff;
            overflow-x: hidden;
            background-color: #2d4159;
            font-family: 'Rank Ocean Blond', sans-serif;
        }
        .container {
            background-color: rgba(0, 64, 128, 0.8);
            border-radius: 8px;
            padding: 20px;
            margin-top: 20px;
        }
        .form-control {
            border-radius: 25px;
            border: 1px solid #cccccc;
        }
        .form-control:focus {
            box-shadow: none;
            border-color: #28a745;
        }
        .btn-custom {
            background-color: #28a745;
            border: none;
            color: #ffffff;
            border-radius: 25px;
        }
        .btn-custom:hover {
            background-color: #218838;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Editar Estabelecimento</h1>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome do Estabelecimento:</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="{{ estabelecimento.nome }}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" value="{{ estabelecimento.endereco }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="imagem">Link da Imagem:</label>
                    <input type="text" class="form-control" id="imagem" name="imagem" value="{{ estabelecimento.imagem }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="categoria">Categoria:</label>
                    <select class="form-control" id="categoria" name="categoria">
                        <option value="restaurante" {% if estabelecimento.categoria == 'restaurante' %}selected{% endif %}>Restaurante</option>
                        <option value="cafeteria" {% if estabelecimento.categoria == 'cafeteria' %}selected{% endif %}>Cafeteria</option>
                        <option value="salao_de_beleza" {% if estabelecimento.categoria == 'salao_de_beleza' %}selected{% endif %}>Salão de Beleza</option>
                        <option value="academia" {% if estabelecimento.categoria == 'academia' %}selected{% endif %}>Academia</option>
                        <option value="pet_shop" {% if estabelecimento.categoria == 'pet_shop' %}selected{% endif %}>Pet Shop</option>
                    </select>
                </div>
            </div>
            <fieldset class="form-group">
                <legend>Deseja gerar um site para o estabelecimento?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="gerar_site_sim" name="gerar_site" value="sim" {% if estabelecimento.gerar_site == 'sim' %}checked{% endif %} onclick="toggleDescriptionField()" required>
                    <label class="form-check-label" for="gerar_site_sim">Sim</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="gerar_site_nao" name="gerar_site" value="nao" {% if estabelecimento.gerar_site == 'nao' %}checked{% endif %} onclick="toggleDescriptionField()" required>
                    <label class="form-check-label" for="gerar_site_nao">Não</label>
                </div>
            </fieldset>
            <div id="descricaoField" class="form-group" style="display: {% if estabelecimento.gerar_site == 'sim' %}block{% else %}none{% endif %};">
                <label for="descricao">Descrição do Negócio:</label>
                <textarea class="form-control" id="descricao" name="descricao">{{ estabelecimento.descricao }}</textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="horario_funcionamento">Horário de Funcionamento:</label>
                    <input type="text" class="form-control" id="horario_funcionamento" name="horario_funcionamento" value="{{ estabelecimento.horario_funcionamento }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="contato">Contato:</label>
                    <input type="text" class="form-control" id="contato" name="contato" value="{{ estabelecimento.contato }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="redes_sociais">Redes Sociais:</label>
                    <input type="text" class="form-control" id="redes_sociais" name="redes_sociais" value="{{ estabelecimento.redes_sociais }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="tipo_servico_produto">Tipo de Serviço/Produto:</label>
                    <input type="text" class="form-control" id="tipo_servico_produto" name="tipo_servico_produto" value="{{ estabelecimento.tipo_servico_produto }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="metodos_pagamento">Métodos de Pagamento:</label>
                    <input type="text" class="form-control" id="metodos_pagamento" name="metodos_pagamento" value="{{ estabelecimento.metodos_pagamento }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="como_chegar">Como Chegar:</label>
                    <textarea class="form-control" id="como_chegar" name="como_chegar">{{ estabelecimento.como_chegar }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="patrocinado" name="patrocinado" {% if estabelecimento.patrocinado %}checked{% endif %}>
                    <label class="form-check-label" for="patrocinado">Patrocinado</label>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-custom">Salvar Alterações</button>
            </div>
        </form>
    </div>
    <script>
        function toggleDescriptionField() {
            var gerarSite = document.querySelector('input[name="gerar_site"]:checked').value;
            var descricaoField = document.getElementById('descricaoField');
            descricaoField.style.display = gerarSite === 'sim' ? 'block' : 'none';
        }
    </script>
</body>
</html>
